QMainWindow, QDialog{{
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
}}

QGroupBox{{
  border: 5px solid rgb(34,34,34);
}}

QLabel{{
  color: rgb(255, 255, 255);
}}

QTabWidget::pane
{{
border: 1px solid rgb(34,34,34);
padding-top: 10px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
margin-top: -11px;
border-top-left-radius: 5px; 
border-top-right-radius: 5px;
}}

QTabWidget::tab-bar{{
  alignment: center;
}}
QTabBar::tab {{
  /* background: rgb(101, 101, 101);  */
  background: rgb(44,41,52);
  color:rgb(255, 255, 255);
  min-width: 20px;
  height: 20px;
  padding: 2px 8px 2px 8px;
  /* border-top: 1px solid rgba(255,255,255,0.4); */
  /* border-left: 1px solid rgb(90, 86, 95);  */
}} 

QTabBar::tab:first {{ 
  border-left: 0px solid rgb(90, 86, 95);
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
}} 
QTabBar::tab:last {{ 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
  /* border: 1px solid rgba(255,255,255,0.1); */
}} 
QTabBar::tab:hover {{
  /* background: rgb(22, 101, 220); */
  background: rgba(90, 86, 95, 0.7);
  /* border: 1px solid rgba(255,255,255,0.1); */
}}
QTabBar::tab:disabled {{ 
  
  color:rgb(90, 86, 95);
}} 

QTabBar::tab:pressed {{
  background: rgb(90, 86, 95);
  /* border: 1px solid rgba(255,255,255,0.1); */
}}

QTabBar::tab:selected {{
  /* background: rgb(22, 101, 220); */
  background: rgb(97,95,103);
  /* border: 1px solid rgba(255,255,255,0.1); */
}}

QPlainTextEdit{{
  color: rgb(255, 255, 255);
  border:  1px solid rgb(34, 34, 34); 
  background-color: rgb(34, 34, 34);
  font-family:  'Overpass Mono';
  font-size :14pt;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
}}
QPlainTextEdit:focus{{
  color: rgb(255, 255, 255);
  background-color:rgb(23, 23, 23);
  border-bottom:  2px solid rgb(90, 86, 95); 
}}

QLineEdit{{
  height: 35px;
  color: rgb(255, 255, 255);
  border:  0px solid rgb(34, 34, 34); 
  background-color: rgb(34, 34, 34);
  font-family:  'Overpass Mono';
  font-size :14pt;
}}
QLineEdit:focus{{
  color: rgb(255, 255, 255);
  background-color: rgb(23, 23, 23);
  border-bottom: 2px solid rgb(90, 86, 95);
}}

QTextEdit{{
  color: rgb(255, 255, 255);
  border: 1px solid rgb(34, 34, 34); 
  background-color: rgb(34, 34, 34);
  font-family: 'Overpass Mono';
  font-size :14pt;
}}
QTextEdit:focus{{
  background-color: rgb(23, 23, 23);
}}



QPushButton:flat {{
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: rgba(90, 86, 95, 0.3);
}}

QPushButton:flat:hover {{
  /* background-color: rgba(54, 113, 207, 0.5); */
  background-color: rgba(90, 86, 95, 0.7);
}}

QPushButton:flat:pressed{{
  /* background-color: rgb(55, 116, 214); */
  background-color: rgba(90, 86, 95, 1);
}}

QPushButton:flat:disabled{{
  /* background-color: rgb(55, 116, 214); */
  color:rgb(90, 86, 95);
}}

QPushButton:flat:checked{{
  background-color: rgba(90, 86, 95, 0.5);
}}
QPushButton:flat:checked:hover{{
  background-color: rgba(90, 86, 95, 0.7);
}}
QPushButton:flat:checked:pressed{{
  background-color: rgba(90, 86, 95, 1);
}}

QPushButton#clear_program_button:hover, QPushButton#safety_off:hover{{
  background-color: rgba(155, 0, 0, 0.5);
}}
QPushButton#clear_program_button:pressed, QPushButton#safety_off:pressed {{
  background-color: rgb(155, 0, 0);
}}

QMenuBar {{
  color:rgb(255, 255, 255);
  background-color: rgb(41, 42, 42);
  /* background-color: rgb(44,41,52); */
  spacing: 5px; /* spacing between menu bar items */
}}

QMenuBar::item {{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right:10px;
  padding-left:10px;
  background-color: rgb(41, 42, 42);
}}

QMenuBar::item:selected {{ /* when selected using mouse or keyboard */
  background: rgb(90, 86, 95);
}}

QMenuBar::item:pressed {{
  background: rgb(90, 86, 95);
}}

QSpinBox{{
  height: 35px;
  color: rgb(255, 255, 255);
  border:  0px solid rgb(34, 34, 34); 
  background-color: rgb(34, 34, 34);
  font-family:  'Overpass Mono';
  font-size :14pt;
  padding-left:10px;
}}

QSpinBox:focus{{
  /* color: rgb(255, 255, 255); */
  background-color: rgb(23, 23, 23);
  
  /* border-bottom: 2px solid rgb(90, 86, 95); */
}}
QSpinBox::down-button {{
  width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  image: url(ui/down.svg);
  border-width: 0px;
  /* background-color:rgb(90, 86, 95); */
  
}}
QSpinBox::up-button {{
  width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  image: url(ui/up.svg);
  border-width: 0px;
  /* background-color:rgb(90, 86, 95); */
  
}}

QSpinBox::down-button:hover , QSpinBox::up-button:hover{{
  background-color: rgba(90, 86, 95, 0.7);
}}
QSpinBox::down-button:pressed , QSpinBox::up-button:pressed{{
  background-color: rgba(90, 86, 95, 1);
}}